@model learnersmate.Models.TaskEmployee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TaskEmployee</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrentEmployee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentEmployee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentTaskList.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentTaskList.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskEmployeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
