@model learnersmate.Models.PurchaseInvoice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PurchaseInvoice</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrentCurrency.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentCurrency.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentDiscountType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentDiscountType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentEmployee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentEmployee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentSupplier.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentSupplier.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExternalReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExternalReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuotationNoDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuotationNoDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LPONoDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LPONoDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossTotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossTotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetTotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetTotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PurchaseInvoiceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
