@model IEnumerable<learnersmate.Models.Employee>
@{
   ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layouts.cshtml";
    int roleid = Convert.ToInt16(Session["RoleID"].ToString());
}
<div>
    <div class="col-lg-6">
        <div class='alert alert-success alert-dismissible' id="AlertSuccess" style='display: -webkit-inline-box;display:none' role='alert'>
            <i class='fa fa-check'></i>
            <strong style='padding-left: 6px;'>@ViewBag.Message</strong>
            <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span> </button>
        </div>
        <div class='alert alert-danger alert-dismissible' id="AlertError" style='display: -webkit-inline-box;display:none' role='alert'>
            <i class='fa fa-check'></i>
            <strong style='padding-left: 6px;'>@ViewBag.Error</strong>
            <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span> </button>
        </div>
    </div>
    <div class="col-lg-12">       
        @if (roleid == 1)
        {
            <a href="/Employee/Create" class="btn btn-primary btn-sm waves-effect waves-light float-right" >Create</a>
        }        
    </div>
    <table id="datatable-1" class="table table-datatable table-striped table-hover">
        <thead class="thead-light">
            <tr>                
               
                <th>
                    Name / ID Card
                </th>                
                <th>
                    Address
                </th>
                <th>
                   Contact
                </th>
                <th>
                    Login
                </th>     
                <th>
                   Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)  <br />
                        @Html.DisplayFor(modelItem => item.IdCard) <br />
                        @if (roleid == 1 || roleid == 2 || roleid == 6)
                        {
                           @Html.DisplayFor(modelItem => item.Salary)
                        }
                    </td>                   
                    <td style="width: 30%;">
                        @Html.DisplayFor(modelItem => item.CurrentCity.Name) <br />
                        @Html.DisplayFor(modelItem => item.CurrentCountry.Name), @Html.DisplayFor(modelItem => item.PinCode)
                    </td>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.Landline) <br />
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentUser.Email) <br />
                        @Html.DisplayFor(modelItem => item.CurrentUser.Password)
                    </td>                   
                    <td>
                        @if (item.Status == true)
                        { 
                           <span class="badge badge-success">Active</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">InActive</span>
                        }                       
                    </td>
                    <td style="width: 10%; text-align-last: right">
                        <a href="/Employee/Details/@item.EmployeeID" class="lightgreen"><i class="batch-icon batch-icon-eye" style="font-size: 17px; color: green"></i></a>
                        @if (roleid == 1 || roleid == 2 || roleid == 6)
                        {
                            <a href="/Employee/Edit/@item.EmployeeID" class="darkblue" title="Edit"> <i class="fa fa-edit" style="font-size: 17px; color: blue"></i></a>
                        }
                        @if (roleid == 1 || roleid == 2)
                        {
                            <a href="/Employee/DeleteConfirm/@item.EmployeeID" class="lightred" title="Delete" onclick="return ConfirmDelete('Employee',@item.EmployeeID);">  <i class="fa fa-trash-o" style="font-size: 17px; color: red; "></i></a>
                        }
                        <br />
                        @if (roleid == 1)
                        {
                            <a href="/User/Edit/@item.UserID" class="btn btn-primary btn-sm waves-effect waves-light float-right"> PERMISSIONS </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

