@model learnersmate.Models.AccountHead
@{
    ViewBag.Title = "Account Head Edit";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
<div class="col-lg-6">
    <div class='alert alert-success alert-dismissible' id="AlertSuccess" style='display: -webkit-inline-box;display:none' role='alert'>
        <i class='fa fa-check'></i>
        <strong style='padding-left: 6px;'> @ViewBag.Message </strong>
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span> </button>
    </div>
    <div class='alert alert-danger alert-dismissible' id="AlertError" style='display: -webkit-inline-box;display:none' role='alert'>
        <i class='fa fa-check'></i>
        <strong style='padding-left: 6px;'> @ViewBag.Error </strong> 
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span> </button>
    </div>
</div>
<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.AccountHeadID)
        <input type="hidden" id="existing" name="existing" value="@ViewBag.Existing" />
        <div class="form-row">     
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    @Html.Label("Category", new { @class = "control-label col-md-12", @style = "font-weight:bold;font-size: 1.0rem !important;" })
                    <div class="col-md-12">
                        @ViewBag.AccountCategoryID
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.AccountGroupID, new { @class = "control-label col-md-12  asterisk_input", @style = "font-weight:bold;font-size: 1.0rem !important;" })
                    <div class="col-md-12">
                        @Html.DropDownList("AccountGroupID", null, "Select Group", new { @class = "form-control-sm custom-select", @style = "height:2.0rem !important;", @required = true })

                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-12  asterisk_input", @style = "font-weight:bold;font-size: 1.0rem !important;" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control-sm", @type = "text", @placeholder = "Enter Name", @required = true })
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-1">
                <a href="/AccountHead/Index" class="btn btn-secondary btn-sm waves-effect waves-light float-right">
                    Cancel
                </a>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light float-right">
                    Submit
                </button>
            </div>
        </div>

    }
</div>