@model learnersmate.Models.HolidayModel
@{
    ViewBag.Title = "Holiday Create";
    Layout = null;
}
<div class="modal-body">
   @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-12 asterisk_input", @style = "font-weight:bold;font-size: 1.0rem !important;" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.StartDate, "{0:dd-MMM-yyyy}", new { @class = "form-control-sm", @type = "text", @placeholder = "Enter Date", @required = true })
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.NoOfDays, new { @class = "control-label col-md-12 asterisk_input", @style = "font-weight:bold;font-size: 1.0rem !important;" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.NoOfDays, new { @class = "form-control-sm", @type = "number", @placeholder = "Enter No Of Days", @value = "1", @required = true })
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-12 asterisk_input", @style = "font-weight:bold;font-size: 1.0rem !important;" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control-sm", @type = "text", @placeholder = "Enter Title", @required = true })
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-12 asterisk_input", @style = "font-weight:bold;font-size: 1.0rem !important;" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @type = "text", @placeholder = "Enter Description", @required = true })
                    </div>
                </div>
            </div>
        </div>       
    </div>
}
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light float-right">Submit</button>
    <button type="button" class="btn btn-secondary btn-sm  waves-effect waves-light" data-dismiss="modal">Cancel</button>
</div>


